

/* Conteúdo principal */
.content {
  max-width: 1200px; /* Define um limite para o conteúdo */
  margin: auto;
  padding: 10px;
}

h2 {
  font-family: Inter;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Grid de serviços */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

/* Cartões de serviço */
.service-card {
  background-color: #eab308;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.service-card p {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Botão */
.service-card button {
  background-color: black;
  color: #eab308;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.service-card button:hover {
  background-color: black;
}
