.motoristas-container {
  background-color: var(--cor-secundaria);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.motoristas-container h2 {
  color: var(--cor-primaria);
  margin-bottom: 20px;
}

.motoristas-form input {
  margin-bottom: 10px;
}

.motoristas-list {
  margin-top: 20px;
}
